body {
    font-family: 'Old Standard TT', serif;
}
nav#navvy.navbar.navbar-static-top{
    margin-top:0px;
    margin-bottom: 0px;
    color: black;
    background-color:#474E5E;
}
#navvy a{
    color: white;
}

#navvy a:hover{
    background: none;
}
li.active.left{
    text-align:left;
}
jumbotron.mainSec {
    display:inline;
}

.mapImage{
    margin-right:auto;
}
.mainImgTxt {
    color: white;
    float: left;
}
.mainSec {
    background-image: url('HTML PICS/largeVillaWithPoolHouse.jpg');
    background-size:cover;
    margin-bottom:0px;
    padding-bottom:0px;
    height: 400px;
}
.rightSide{
    height:400px;
}
.locations{
    border-top:0px;
    margin-top:0px;
    padding-top:0em;
    background-color:#474E5E;
    color:white;
    text-align:center;
}
.footer{
    background-color:#474E5E;
    color:white;
    text-align: center;
}

.rightSide {
    text-align:right;
}